.comment > div > textarea {
    padding-right: 40px !important;
    border-radius: 5px;
    border: 1px solid #fff;
    padding-top: 10px;
    padding-left: 10px;
}

.btnComment {
    right: 25px !important;
    top: 10px !important;
}