#form-auth .pass-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 14px;
}

#form-auth i.visible {
    position: absolute;
    top: 22%;
    right: 2%;
}

#form-auth i.visible:hover {
    color: #489fe6;
    cursor: pointer;
}
