.pg-viewer-wrapper .document-container{
  width: 100% !important;
}
.pg-viewer-wrapper .photo-viewer-container{
  img{
    width: auto !important;
    height: 100% !important;
  }
  width: 100% !important;
  height: 100% !important;
}